

.md{
    background: #42a1bd !important;
    color: white !important;
}
.c{
    width: 100%;
    text-align: left;
}
h5{
    padding: 0;
    margin: 0;
}
.card-header{
    padding: .3rem 1rem;
}
.card-header h5{
    font-size: 1.2rem;
}
.card-body{
    padding: .8rem 1rem;
}
.btn-warning {
    color: #3d3d3d;
    background-color: #ffc107;
    border-color: #ffc107;
    font-weight: 500;
}
.btn-success {

    font-weight: 500;
}
.mbtn{
    padding: .8rem .8rem;
    line-height: 0;
}

label{
    padding: 0;
    margin-bottom: .3rem;
    font-weight: 500;
    font-size: .91rem;
}
.form-control{
    font-size: .9rem;
    padding: 0rem .5rem;
    margin: 0rem;
    height: 1.9rem;
}
.cbtn{
    font-weight: 500;
    font-size: .9rem;
    padding: .3rem .7rem;
}

.btn-secondary {
    color: #000;
    background-color: #d2d2d2;
    border-color: #6c757d;
}